{% extends "base.html" %}

{% block head %}
<title>SDATCC - Cadastro de TCC</title>
{% endblock %}

{% block content %}
<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Formulário de TCC/Artigo</h4>
                </div>
                <div class="card-body">
                    <form action="/cadastro_tcc_artigo" method="post">
                        <div class="form-group">
                            <label for="tcc">Título:</label>
                            <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Digite o título do TCC/Artigo" required>
                        </div>
                        <div class="form-group">
                            <label for="autor">Autor:</label>
                            <input type="text" name="autor" class="form-control" id="autor" placeholder="Digite o nome do autor" required>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo:</label>
                            <select name="tipo" class="form-control" id="tipo">
                                <option value="TCC">TCC</option>
                                <option value="Artigo">Artigo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="orientador">Orientador:</label>
                            <select name="orientador" class="form-control" id="orientador">
                                <option value="Raphael">Raphael</option>
                                <option value="Danilo">Danilo</option>
                                <option value="Adriano">Adriano</option>
                                <option value="Joselice">Joselice</option>
                                <option value="Cleiane">Cleiane</option>
                                <option value="Pêtronio">Pêtronio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data_apresentacao">Data de Apresentação:</label>
                            <input name="data_apresentacao" type="date" class="form-control" id="data-apresentacao" required>
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-primary mt-3" href="/login">Voltar</a>
                            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Finalizar
                              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Finalizar Cadastro?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tem certeza de deseja finalizar o cadastro de TCCs/Artigos?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <a type="button" class="btn btn-primary" href="listar_tcc_artigo">Sim</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer%}
{% endblock %}