{% extends "base.html" %}

{% block head %}
<title>SDATCC - Cadastro-se</title>
{% endblock %}

{% block content %}
<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Cadastre-se</h4>
                </div>
                <div class="card-body">
                    <form action="/cadastro" method="post">
                        <div class="form-group">
                            <label for="tcc">Nome completo:</label>
                            <input name="nome_completo" type="text" class="form-control" id="nome_completo"
                                placeholder="Digite seu nome completo" required>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input name="senha" type="password" class="form-control" id="senha"
                                placeholder="Digite sua senha" required>
                        </div>
                        <div class="form-group">
                            <label for="data_nascimento">Data de Nascimento:</label>
                            <input name="data_nascimento" type="date" class="form-control" id="data_nascimento"
                                required>
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-primary mt-3" href="/login">Voltar</a>
                            <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('data_nascimento').setAttribute('max', today);
</script>

{% endblock %}

{% block footer%}
{% endblock %}